<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongnao.james.rabbit.dao.OrderDao">
	<resultMap id="BaseResultMap" type="com.dongnao.james.rabbit.model.Order">
		<result column="orderid" property="orderid" jdbcType="VARCHAR" />
		<result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
		<result column="ordermoney" property="ordermoney" jdbcType="DECIMAL" />
		<result column="orderstatus" property="orderstatus" jdbcType="CHAR" />
	</resultMap>

	<select id="queryOrderInfo" resultMap="BaseResultMap">

		SELECT
		a.orderid,
		a.ordertime,
		a.ordermoney,
		a.orderstatus,
		a.`version`
		FROM
		`order` a
		WHERE  orderid = #{0}
	</select>

</mapper>